@inject IHttpContextAccessor context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel_Management_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hotel_Management_MVC.styles.css" asp-append-version="true" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js.min/datatable.bundle.min.js"></script>
    <link rel="stylesheet" href="css.min/datatable.bundle.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">INFINITE Hotels</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto align-items-center">

                        @if (!String.IsNullOrEmpty(@context.HttpContext.Session.GetString("HotelEmail")))
                        {
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    @context.HttpContext.Session.GetString("HotelEmail")
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item disabled text-center" href="#">Edit Profile</a></li>
                                    <li><a class="dropdown-item text-dark text-center" asp-controller="Accounts" asp-action="HotelLogout">Logout?</a></li>
                                </ul>
                            </div>

                        }
                        @if (!String.IsNullOrEmpty(@context.HttpContext.Session.GetString("UserEmail")))
                        {                            
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    @context.HttpContext.Session.GetString("UserEmail")
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item disabled text-center" href="#">Edit Profile</a></li>
                                    <li><a class="dropdown-item text-dark text-center" href="@Url.Action("UserBookingsTab", "Dashboards", new { email = @context.HttpContext.Session.GetString("UserEmail")})">Bookings</a></li>
                                    <li><a class="dropdown-item text-dark text-center" asp-controller="Accounts" asp-action="UserLogout">Logout?</a></li>
                                </ul>
                            </div>
                        }

                        @if (!String.IsNullOrEmpty(@context.HttpContext.Session.GetString("AdminEmail")))
                        {                            
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    @context.HttpContext.Session.GetString("AdminEmail")
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item disabled text-center" href="#">Edit Profile</a></li>
                                    <li><a class="dropdown-item text-dark text-center" asp-controller="Accounts" asp-action="AdminLogout">Logout?</a></li>
                                </ul>
                            </div>
                        }
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
